<section class="user-data-container"> 
  <div class="user-data-form-container">
    <%= form_with model: @current_user, url: messaging_users_update_path, method: :put, html: { 'data-remote': true } do |f| %>
      <div>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div>
        <%= f.text_field :email, class: 'form-control', required: true %>
      </div>
      <div>
        <%= link_to messaging_chats_index_path, class: 'btn btn-sm btn-outline-light' do %>
          <i class="fas fa-times-circle"></i> Cancel
        <% end %>
        <%= f.submit 'Update', class: 'btn btn-sm btn-outline-light' %>
      </div>
    <% end %>
  </div>
</section>
