<ul>
  
    <% group.text_channels.each do |text_channel|  %>
      <li>
        <% if @group.user_adm.id == @current_user.id%>
          <%= link_to  messaging_text_channel_path(text_channel.id), class: 'btn btn-xs btn-outline-light', remote: true, method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
          <%= link_to edit_messaging_text_channel_path(text_channel.id), class: 'btn btn-xs btn-outline-light', remote: true do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
        <div class="d-grid gap-2">
          <%= link_to messaging_text_channel_path(text_channel), remote: true, class: 'btn btn-sm btn-outline-light text-channel-button text-channel-option' do %>
            <%= hidden_field_tag :text_channel_id, text_channel.id %>
            # <%= text_channel.name %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% if group.user_adm.id == current_user.id %>
    <li>
      <div class="d-grid gap-2">
        <%= link_to new_messaging_text_channel_path(group_id: group.id), class: 'btn btn-sm btn-outline-light text-channel-button', remote: true do  %>
          <i class="fas fa-plus"></i> Create new text channel
        <% end %>
      </div>
    </li>
  <% end %>
</ul>