<section class="side-chat-menu">
  <section id="user-actions">
    <nav>
      <ul>
        <li>
          <%= link_to '#', remote: true do %>
              <i class="fas fa-user-clock"></i> Pending invites
          <% end %>
        </li>
        <li>
          <%= link_to '#', remote: true do %>
              <i class="fas fa-envelope-open-text"></i> Received invites
          <% end %>
        </li>
        <li>
          <%= link_to messaging_new_user_invite_path, id: 'link-add-contact', remote: true do %>
              <i class="fas fa-user-plus"></i> Add contact
          <% end %>
        </li>
      </ul>
    </nav>
  </section>
  <section class="listing-chats">
    <%= render 'messaging/contacts/list_contacts', contacts: @user.contacts %>
  </section>
  <section id="modal-container">
  </section>
</section>
<section class="chat-content">
</section>
<%= javascript_pack_tag "messaging/contacts" %>
