<!DOCTYPE html>
<html>
  <head>  
    <title> <%= current_user.name %>  </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'messaging', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'messaging', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>  
    <%= yield %>
  </body>
</html>